extends ../layouts/default

block content
  .row
    .col-md-3
      .sidebar.hidden-print.row(role='complementary')
        h3.date.col-md-12 #{displayDate}
        h4.col-md-12 Middlebury Dining Menu
        .col-md-12
          .btn-group
            button.btn.btn-default(type='button') Previous
            button.btn.btn-default(type='button') Next
    .col-md-9.menu
      h3#atwater.location Atwater
      ul.location.row.list-unstyled
        li.meal.col-md-4
          h4 Breakfast
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.atwater.breakfast
              li.menu-item #{item}
        li.meal.col-md-4
          h4 Lunch
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.atwater.lunch
              li.menu-item #{item}

      h3#proctor.location Proctor
      ul.location.row.list-unstyled
        li.meal.col-md-4
          h4 Breakfast
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.proctor.breakfast
              li.menu-item #{item}
        li.meal.col-md-4
          h4 Lunch
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.proctor.lunch
              li.menu-item #{item}
        li.meal.col-md-4
          h4 Dinner
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.proctor.dinner
              li.menu-item #{item}

      h3#ross.location Ross
      ul.location.row.list-unstyled
        li.meal.col-md-4
          h4 Breakfast
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.ross.breakfast
              li.menu-item #{item}
        li.meal.col-md-4
          h4 Lunch
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.ross.lunch
              li.menu-item #{item}
        li.meal.col-md-4 
          h4 Dinner
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.ross.dinner
              li.menu-item #{item}

      h3#language-tables.location Language Tables
      ul.location.row.list-unstyled
        li.meal.col-md-4.col-md-offset-4
          h4 Lunch
          ul.menu-list.list-unstyled
            each item in menu.dining_halls.language_tables.lunch
              li.menu-item #{item}